@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Red+Rose:wght@300;700&display=swap");
body {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0D1B2A; }
  body .header {
    background-image: radial-gradient(circle, #435368, #0D1B2A);
    font-family: "Red Rose", cursive;
    color: #E0E1DD;
    padding: 2%;
    margin-bottom: 5%; }
    body .header .topnavbar__item1,
    body .header .topnavbar__item2 {
      font-family: "Josefin Sans", sans-serif;
      background-image: radial-gradient(circle, #435368, #0D1B2A);
      animation: pulse;
      animation-delay: 0;
      animation-duration: 2s;
      animation-iteration-count: 4; }
    body .header h1 {
      margin-top: 2%;
      border: dashed whitesmoke 2px;
      background-image: radial-gradient(circle, #435368, #0D1B2A);
      animation: pulse;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-iteration-count: 2; }
    body .header .lema {
      animation: pulse;
      animation-delay: 1.5s;
      animation-duration: 2s;
      animation-iteration-count: 3; }
    body .header #portada {
      width: 100%; }
      body .header #portada:hover {
        cursor: pointer;
        animation: pulse;
        animation-delay: 0;
        animation-duration: 1s;
        animation-iteration-count: 1; }
  body .main_index {
    background-image: radial-gradient(circle, #435368, #0D1B2A); }
    body .main_index .nivel_tar {
      background-image: radial-gradient(circle, #435368, #0D1B2A); }
  body .iconoNivel {
    background-color: black;
    color: whitesmoke;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    object-fit: cover; }
    body .iconoNivel:hover {
      animation: pulse;
      animation-delay: 0;
      animation-duration: 1s;
      animation-iteration-count: 2; }
    body .iconoNivel .material-icons {
      font-family: 'Material Icons';
      font-weight: 200;
      font-style: normal;
      font-size: 28px;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      white-space: nowrap;
      direction: ltr;
      background-color: rgba(0, 0, 0, 0);
      color: azure;
      margin-top: 0.5%;
      margin-bottom: 0.5%;
      flex-wrap: wrap;
      align-items: center;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga'; }
  body .fotoNivel .fotoNivel__item {
    flex-wrap: wrap;
    border-style: dashed;
    border-radius: 5%;
    object-fit: cover;
    border-color: #778DA9; }
    body .fotoNivel .fotoNivel__item:hover {
      cursor: pointer;
      animation: pulse;
      animation-delay: 0;
      animation-duration: 2s;
      animation-iteration-count: 1; }
  body .fotoNivel h4 {
    font-family: "Red Rose", cursive;
    color: #E0E1DD;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 5%;
    animation: pulse;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-iteration-count: 1; }
  body .fotoNivel .nivelText__click {
    font-family: "Josefin Sans", sans-serif;
    color: #E0E1DD;
    animation: pulse;
    animation-delay: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  body .nivelText {
    display: block;
    width: 100%;
    margin-bottom: 4%;
    background-color: #778DA9;
    object-fit: cover; }
    body .nivelText p, body .nivelText .main_institucional .institucional_text1, .main_institucional body .nivelText .institucional_text1, body .nivelText .main_institucional .institucional_text2, .main_institucional body .nivelText .institucional_text2, body .nivelText .main_institucional .enlace_medios, .main_institucional body .nivelText .enlace_medios {
      font-family: "Red Rose", cursive;
      color: #E0E1DD;
      font-size: x-large;
      margin-top: 2rem;
      margin-bottom: 2rem;
      animation: pulse;
      animation-delay: 1s;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
      @media (max-width: 767px) {
        body .nivelText p, body .nivelText .main_institucional .institucional_text1, .main_institucional body .nivelText .institucional_text1, body .nivelText .main_institucional .institucional_text2, .main_institucional body .nivelText .institucional_text2, body .nivelText .main_institucional .enlace_medios, .main_institucional body .nivelText .enlace_medios {
          font-size: medium; } }
      @media (max-width: 575px) {
        body .nivelText p, body .nivelText .main_institucional .institucional_text1, .main_institucional body .nivelText .institucional_text1, body .nivelText .main_institucional .institucional_text2, .main_institucional body .nivelText .institucional_text2, body .nivelText .main_institucional .enlace_medios, .main_institucional body .nivelText .enlace_medios {
          font-size: small; } }
      @media (max-width: 302px) {
        body .nivelText p, body .nivelText .main_institucional .institucional_text1, .main_institucional body .nivelText .institucional_text1, body .nivelText .main_institucional .institucional_text2, .main_institucional body .nivelText .institucional_text2, body .nivelText .main_institucional .enlace_medios, .main_institucional body .nivelText .enlace_medios {
          font-size: x-small; } }
  body .fotoArte {
    object-fit: cover;
    animation: pulse;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 1; }
    body .fotoArte .fotoArte__item {
      flex-wrap: wrap;
      border-style: dashed;
      border-radius: 5%;
      object-fit: cover; }
      body .fotoArte .fotoArte__item:hover {
        cursor: grab;
        animation: pulse;
        animation-delay: 0;
        animation-duration: 2s;
        animation-iteration-count: 1; }
    body .fotoArte .fotoArte__text {
      font-family: "Red Rose", cursive;
      color: #E0E1DD;
      font-size: x-large;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      @media (max-width: 767px) {
        body .fotoArte .fotoArte__text {
          font-size: medium; } }
      @media (max-width: 575px) {
        body .fotoArte .fotoArte__text {
          font-size: small; } }
      @media (max-width: 302px) {
        body .fotoArte .fotoArte__text {
          font-size: x-small; } }
      body .fotoArte .fotoArte__text:hover {
        cursor: grab;
        animation: pulse;
        animation-delay: 0;
        animation-duration: 2s;
        animation-iteration-count: 1; }
  body .fotoCiencia {
    display: flex;
    margin-bottom: 5%;
    object-fit: cover;
    animation: pulse;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 1; }
    body .fotoCiencia .fotoCiencia__item {
      flex-wrap: wrap;
      border-style: dashed;
      border-radius: 5%;
      object-fit: cover; }
      body .fotoCiencia .fotoCiencia__item:hover {
        cursor: grab;
        animation: pulse;
        animation-delay: 0;
        animation-duration: 2s;
        animation-iteration-count: 1; }
    body .fotoCiencia .fotoCiencia__text {
      font-family: "Red Rose", cursive;
      color: #E0E1DD;
      font-size: x-large;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      @media (max-width: 767px) {
        body .fotoCiencia .fotoCiencia__text {
          font-size: medium; } }
      @media (max-width: 575px) {
        body .fotoCiencia .fotoCiencia__text {
          font-size: small; } }
      @media (max-width: 302px) {
        body .fotoCiencia .fotoCiencia__text {
          font-size: x-small; } }
      body .fotoCiencia .fotoCiencia__text:hover {
        cursor: grab;
        animation: pulse;
        animation-delay: 0;
        animation-duration: 2s;
        animation-iteration-count: 1; }
  body .videoAmbiental {
    background-color: #060c12;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%; }
    body .videoAmbiental .videoAmbiental__iframe {
      flex-wrap: wrap;
      border-style: dashed;
      border-radius: 5%;
      object-fit: cover; }
      @media (max-width: 1200px) {
        body .videoAmbiental .videoAmbiental__iframe {
          width: 1000px;
          height: 500px; } }
      @media (max-width: 1024px) {
        body .videoAmbiental .videoAmbiental__iframe {
          width: 800px;
          height: 400px; } }
      @media (max-width: 801px) {
        body .videoAmbiental .videoAmbiental__iframe {
          width: 600px;
          height: 300px; } }
      @media (max-width: 601px) {
        body .videoAmbiental .videoAmbiental__iframe {
          width: 400px;
          height: 200px; } }
      @media (max-width: 401px) {
        body .videoAmbiental .videoAmbiental__iframe {
          width: 250px;
          height: 125px; } }
      @media (max-width: 251px) {
        body .videoAmbiental .videoAmbiental__iframe {
          width: 125px;
          height: 65px; } }
    body .videoAmbiental .videoAmbiental__text {
      font-family: "Red Rose", cursive;
      color: #E0E1DD;
      font-size: x-large;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 2%; }
      @media (max-width: 767px) {
        body .videoAmbiental .videoAmbiental__text {
          font-size: medium; } }
      @media (max-width: 575px) {
        body .videoAmbiental .videoAmbiental__text {
          font-size: small; } }
      @media (max-width: 302px) {
        body .videoAmbiental .videoAmbiental__text {
          font-size: x-small; } }
      body .videoAmbiental .videoAmbiental__text:hover {
        cursor: grab;
        animation: pulse;
        animation-delay: 0;
        animation-duration: 2s;
        animation-iteration-count: 1; }
  body .footer {
    background-image: radial-gradient(circle, #435368, #0D1B2A);
    padding: 4px;
    object-fit: cover;
    margin-bottom: 25px; }
    body .footer .socialIcons__item {
      object-fit: cover;
      cursor: pointer;
      border-radius: 40%;
      height: 24px;
      animation: pulse;
      animation-delay: 0;
      animation-duration: 2s;
      animation-iteration-count: infinite; }

/* Estilos para formulario de contacto */
.main_contacto h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
  color: #E0E1DD;
  margin-top: 1rem;
  margin-bottom: 5%;
  animation: pulse;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 4; }

.main_contacto .contacto {
  height: 70vh;
  max-width: 80%;
  padding: 2%;
  margin-left: 8%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat 4, 25%;
  gap: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: x-small;
  justify-content: stretch;
  object-fit: contain;
  color: whitesmoke;
  background-color: #0D1B2A;
  border-radius: 5%;
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 600px) {
    .main_contacto .contacto {
      font-size: medium; } }
  @media only screen and (min-width: 992px) {
    .main_contacto .contacto {
      font-size: x-large; } }
  .main_contacto .contacto .contacto__nombre {
    grid-column: auto;
    grid-row: 1; }
  .main_contacto .contacto .contacto__email {
    grid-column: auto;
    grid-row: 2; }
  .main_contacto .contacto .contacto__texto {
    grid-column: 2/5;
    grid-row: 1/5; }
  .main_contacto .contacto .contacto__asunto {
    grid-column: auto;
    grid-row: 3; }
  .main_contacto .contacto .contacto__enviar {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .main_contacto .contacto .contacto__enviar-boton {
    width: 60%;
    height: 60%;
    grid-column: auto;
    grid-row: 4;
    background-color: #778DA9;
    border-color: whitesmoke;
    color: #060c12;
    cursor: pointer; }

/* Estilos de la página institucional */
.main_institucional h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
  color: #E0E1DD;
  margin-top: 1rem;
  margin-bottom: 5%; }

.main_institucional p, .main_institucional .institucional_text1, .main_institucional .institucional_text2, .main_institucional .enlace_medios {
  font-family: "Red Rose", cursive;
  color: #E0E1DD;
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 767px) {
    .main_institucional p, .main_institucional .institucional_text1, .main_institucional .institucional_text2, .main_institucional .enlace_medios {
      font-size: medium; } }
  @media (max-width: 575px) {
    .main_institucional p, .main_institucional .institucional_text1, .main_institucional .institucional_text2, .main_institucional .enlace_medios {
      font-size: small; } }
  @media (max-width: 302px) {
    .main_institucional p, .main_institucional .institucional_text1, .main_institucional .institucional_text2, .main_institucional .enlace_medios {
      font-size: x-small; } }

.main_institucional .institucional_video {
  flex-wrap: wrap;
  border-style: dashed;
  border-radius: 5%;
  object-fit: cover; }
  @media (max-width: 1200px) {
    .main_institucional .institucional_video {
      width: 1000px;
      height: 500px; } }
  @media (max-width: 1024px) {
    .main_institucional .institucional_video {
      width: 800px;
      height: 400px; } }
  @media (max-width: 801px) {
    .main_institucional .institucional_video {
      width: 600px;
      height: 300px; } }
  @media (max-width: 601px) {
    .main_institucional .institucional_video {
      width: 400px;
      height: 200px; } }
  @media (max-width: 401px) {
    .main_institucional .institucional_video {
      width: 250px;
      height: 125px; } }
  @media (max-width: 251px) {
    .main_institucional .institucional_video {
      width: 125px;
      height: 65px; } }

.main_institucional .enlace_medios {
  display: flex;
  justify-content: center; }

.main_inicial h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
  color: #E0E1DD;
  margin-top: 1rem;
  margin-bottom: 5%;
  animation: pulse;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 4; }

.main_inicial .inicial_text1 {
  font-family: "Red Rose", cursive;
  color: #E0E1DD;
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 767px) {
    .main_inicial .inicial_text1 {
      font-size: medium; } }
  @media (max-width: 575px) {
    .main_inicial .inicial_text1 {
      font-size: small; } }
  @media (max-width: 302px) {
    .main_inicial .inicial_text1 {
      font-size: x-small; } }

.main_inicial .propositos, .main_inicial .talleres {
  line-height: 1.5rem;
  list-style: square; }
  .main_inicial .propositos .inicial_text1, .main_inicial .talleres .inicial_text1 {
    text-align: left; }
    @media only screen and (min-width: 600px) {
      .main_inicial .propositos .inicial_text1, .main_inicial .talleres .inicial_text1 {
        font-size: medium;
        line-height: 2.5rem; } }
    @media only screen and (min-width: 992px) {
      .main_inicial .propositos .inicial_text1, .main_inicial .talleres .inicial_text1 {
        font-size: x-large;
        line-height: 3.5rem; } }

.main_primaria h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
  color: #E0E1DD;
  margin-top: 1rem;
  margin-bottom: 5%;
  animation: pulse;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 4; }

.main_primaria .primaria_text1 {
  font-family: "Red Rose", cursive;
  color: #E0E1DD;
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 767px) {
    .main_primaria .primaria_text1 {
      font-size: medium; } }
  @media (max-width: 575px) {
    .main_primaria .primaria_text1 {
      font-size: small; } }
  @media (max-width: 302px) {
    .main_primaria .primaria_text1 {
      font-size: x-small; } }

.main_primaria .propositos, .main_primaria .talleres {
  line-height: 1.5rem;
  list-style: square; }
  .main_primaria .propositos .primaria_text1, .main_primaria .talleres .primaria_text1 {
    text-align: left; }
    @media only screen and (min-width: 600px) {
      .main_primaria .propositos .primaria_text1, .main_primaria .talleres .primaria_text1 {
        font-size: medium;
        line-height: 2.5rem; } }
    @media only screen and (min-width: 992px) {
      .main_primaria .propositos .primaria_text1, .main_primaria .talleres .primaria_text1 {
        font-size: x-large;
        line-height: 3.5rem; } }

.main_secu h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: xx-large;
  color: #E0E1DD;
  margin-top: 1rem;
  margin-bottom: 5%;
  animation: pulse;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 4; }

.main_secu .secu_text1 {
  font-family: "Red Rose", cursive;
  color: #E0E1DD;
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media (max-width: 767px) {
    .main_secu .secu_text1 {
      font-size: medium; } }
  @media (max-width: 575px) {
    .main_secu .secu_text1 {
      font-size: small; } }
  @media (max-width: 302px) {
    .main_secu .secu_text1 {
      font-size: x-small; } }

.main_secu .propositos, .main_secu .talleres {
  line-height: 1.5rem;
  list-style: square; }
  .main_secu .propositos .secu_text1, .main_secu .talleres .secu_text1 {
    text-align: left; }
    @media only screen and (min-width: 600px) {
      .main_secu .propositos .secu_text1, .main_secu .talleres .secu_text1 {
        font-size: medium;
        line-height: 2.5rem; } }
    @media only screen and (min-width: 992px) {
      .main_secu .propositos .secu_text1, .main_secu .talleres .secu_text1 {
        font-size: x-large;
        line-height: 3.5rem; } }
