@mixin animation ($delay, $duration, $count)
{
    animation: pulse;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-iteration-count: $count;
}
@mixin wrap-dashed-round {
            flex-wrap: wrap;
            border-style: $borde_punteado;
            border-radius: $borde_redondo;
            object-fit: cover;
}

@mixin H2 {
        font-family: $fuente_2;
        font-size: map-get($fnsz, xxl);
        // font-size: map-get($fnsz:xxl);
        color: $color_tipografia2;
        margin-top: 1rem;
        margin-bottom: $margen_inferior;
}

@mixin main_text {
    font-family: $fuente_1;
    color: $color_tipografia2;
    font-size: map-get($fnsz, xl);
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (max-width:767px) {
        font-size: map-get($fnsz,xl);
    }
    @media (max-width:575px) {
        font-size: map-get($fnsz,md);
    }
    @media (max-width:302px) {
        font-size: map-get($fnsz,sm);
    }
}

@mixin sub_text {
    font-family: $fuente_2;
    color: $color_tipografia2;
    font-size: map-get($fnsz, xl);
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (max-width:575px) {
        font-size: map-get($fnsz,md);
    }
    @media (max-width:302px) {
        font-size: map-get($fnsz,sm);
    }
}

@mixin video_resp {
    @media (max-width:1200px) {
        width: 1000px;
        height: 500px;
    }
    @media (max-width:1024px) {
        width: 800px;
        height: 400px;
    }
    @media (max-width:801px) {
        width: 600px;
        height: 300px;
    }

    @media (max-width:601px) {
        width: 400px;
        height: 200px;
    }

    @media (max-width:401px) {
        width: 250px;
        height: 125px;
    }
    @media (max-width:251px) {
        width: 125px;
        height: 65px;
    }
}
@mixin scroll_up_resp {
    @media (max-width:1200px) {
        width: 60px;
        height: 60px;
    }
    @media (max-width:1024px) {
        width: 50px;
        height: 50px;
    }
    @media (max-width:801px) {
        width: 40px;
        height: 40px;
    }

    @media (max-width:601px) {
        width: 30px;
        height: 30px;
    }

    @media (max-width:401px) {
        width: 20px;
        height: 20px;
    }
    @media (max-width:251px) {
        width: 15px;
        height: 15px;
    }
}