$color_fondo_oscuro:#0D1B2A;
$color_fondo_claro: #435368;
$color_tipografia1: whitesmoke;
$color_tipografia2: #E0E1DD;
$color_borde_fondo: #778DA9;
$color_fondo_video: #060c12;
$borde_punteado: dashed;
$margen_inferior: 5%;
$borde_redondo: 5%;
$padding:2%;







