@import 'variables';
@import 'tipografia';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Red+Rose:wght@300;700&display=swap');

// Estilos Home page

body {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D1B2A;

    .header {
        background-image: $fondo_gradiente;
        font-family: $fuente_1;
        color: $color_tipografia2;
        padding: $padding;
        margin-bottom: $margen_inferior;

        .topnavbar__item1,
        .topnavbar__item2 {
            font-family: $fuente_2;
            background-image: $fondo_gradiente;
            @include animation (0, 2s, 4);
        }

        h1 {
            margin-top: 2%;
            border: $borde_punteado $color_tipografia1 2px;
            background-image: $fondo_gradiente;

            @include animation(1s, 1s, 2)
        }

        .lema {
            @include animation (1.5s, 2s, 3)
        }

        #portada {
            width: 100%;

            &:hover {
                cursor: pointer;
                @include animation (0, 1s, 1)
            }
        }
    }

    .main_index {
        background-image: $fondo_gradiente;

        .nivel_tar {
            background-image: $fondo_gradiente;
        }

    }

    .iconoNivel {
        background-color: rgba(0, 0, 0, 1);
        color: $color_tipografia1;
        padding: $padding;
        margin-top: 2%;
        margin-bottom: $margen_inferior;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        &:hover {
            @include animation (0, 1s, 2)
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: 200;
            font-style: normal;
            font-size: 28px;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            white-space: nowrap;
            direction: ltr;
            background-color: $fondo_invisible;
            color: azure;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
            flex-wrap: wrap;
            align-items: center;
            cursor: pointer;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
        }
    }

    .fotoNivel {
        .fotoNivel__item {
            @include wrap-dashed-round;
            border-color: $color_borde_fondo;
            &:hover {
                cursor: pointer;
                @include animation (0, 2s, 1)
            }
        }

        h4 {
            font-family: $fuente_1;
            color: $color_tipografia2;
            padding: $padding;
            margin-bottom: $margen_inferior;
            border-radius: $borde_redondo;
            @include animation (1.5s, 1s, 1);
        }

        .nivelText__click {
            font-family: $fuente_2;
            color: $color_tipografia2;
            @include animation (0, 2s, infinite)
        }
    }

    .nivelText {
        display: block;
        width: 100%;
        margin-bottom: 4%;
        background-color: #778DA9;
        object-fit: cover;

        p {
            @include main_text;
            @include animation (1s, 2s, infinite);
        }
    }

    .fotoArte {
        object-fit: cover;
        @include animation (1s, 3s, 1);

        .fotoArte__item {
            @include wrap-dashed-round;

            &:hover {
                cursor: grab;
                @include animation (0, 2s, 1)
            }
        }

        .fotoArte__text {
           @include main_text;

            &:hover {
                cursor: grab;
                @include animation (0, 2s, 1);
            }
        }
    }

    .fotoCiencia {
        display: flex;
        margin-bottom: 5%;
        object-fit: cover;
        @include animation (1s, 3s, 1);

        .fotoCiencia__item {
            @include wrap-dashed-round;

            &:hover {
                cursor: grab;
                @include animation (0, 2s, 1);
            }
        }

        .fotoCiencia__text {
            @include main_text;

            &:hover {
                cursor: grab;
                @include animation (0, 2s, 1);
            }
        }
    }

    .videoAmbiental {
        background-color: $color_fondo_video;
        margin-top: 2%;
        margin-bottom: $margen_inferior;
        padding: $padding;

        .videoAmbiental__iframe {
            @include wrap-dashed-round;
            @include video_resp;
        }

        .videoAmbiental__text {
            @include main_text;
            padding: $padding;

            &:hover {
                cursor: grab;
                @include animation (0, 2s, 1)
            }
        }
    }

    .footer {
        background-image: $fondo_gradiente;
        padding: 4px;
        object-fit: cover;
        margin-bottom: 25px;

        .socialIcons__item {
            object-fit: cover;
            cursor: pointer;
            border-radius: 40%;
            height: 24px;
            @include animation (0, 2s, infinite)
        }
    }
}

/* Estilos para formulario de contacto */

.main_contacto {
    h2 {
        @include H2;
        @include animation (1s, 2s, 4)
    }

    .contacto {
        height: 70vh;
        max-width: 80%;
        padding: $padding;
        margin-left: 8%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat (4, 25%);
        gap: 2rem;
        font-family: $fuente_2;
        font-size: map-get($fnsz, xs);
        justify-content: stretch;
        object-fit: contain;
        color: $color_tipografia1;
        background-color: $color_fondo_oscuro;
        border-radius: $borde_redondo;
        width: 100%;
        height: 100%;

        @media only screen and (min-width:600px) {
            font-size: map-get($fnsz, md);
        }

        @media only screen and (min-width:992px) {
            font-size: map-get($fnsz, xl);
        }

        .contacto__nombre {
            grid-column: auto;
            grid-row: 1;
        }

        .contacto__email {
            grid-column: auto;
            grid-row: 2;

        }

        .contacto__texto {
            grid-column: 2/5;
            grid-row: 1/5;
        }

        .contacto__asunto {
            grid-column: auto;
            grid-row: 3;
        }

        .contacto__enviar {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .contacto__enviar-boton {
            width: 60%;
            height: 60%;
            grid-column: auto;
            grid-row: 4;
            background-color: $color_borde_fondo;
            border-color: $color_tipografia1;
            color: $color_fondo_video;
            cursor: pointer;
        }
    }
}

/* Estilos de la página institucional */

.main_institucional {

    h2 {
        @include H2;
    }
    p{
        @include main_text;
    }
    .institucional_text1{
        @extend p;
    }
    .institucional_text2{
        @extend .institucional_text1;
    }
    .institucional_video{
        @include wrap-dashed-round;
        @include video_resp;
    }
    .enlace_medios{
        @extend .institucional_text2;
        display:flex;
        justify-content: center;
    }
}

// Estilos de la página de Nivel Inicial

.main_inicial {
    h2 {
        @include H2;
        @include animation (1s, 2s, 4);
    }

    .inicial_text1 {
        @include main_text
    }

    .propositos {
        line-height: 1.5rem;
        list-style: square;

        .inicial_text1 {
            text-align: left;

            @media only screen and (min-width:600px) {
                font-size: map-get($fnsz, md);
                line-height: 2.5rem;
            }

            @media only screen and (min-width:992px) {
                font-size: map-get($fnsz, xl);
                line-height: 3.5rem;
            }
        }
    }

    .talleres {
        @extend.propositos
    }
}

// Estilos para página de nivel primario

.main_primaria {
    h2 {
        @include H2;
        @include animation (1s, 2s, 4);
    }

    .primaria_text1 {
        @include main_text
    }

    .propositos {
        line-height: 1.5rem;
        list-style: square;

        .primaria_text1 {
            text-align: left;

            @media only screen and (min-width:600px) {
                font-size: map-get($fnsz, md);
                line-height: 2.5rem;
            }

            @media only screen and (min-width:992px) {
                font-size: map-get($fnsz, xl);
                line-height: 3.5rem;
            }
        }
    }

    .talleres {
        @extend.propositos
    }
}

// Estilos para página de nivel secundario

.main_secu {
    h2 {
        @include H2;
        @include animation (1s, 2s, 4);
    }

    .secu_text1 {
        @include main_text
    }

    .propositos {
        line-height: 1.5rem;
        list-style: square;
        .secu_text1 {
            text-align: left;
            @media only screen and (min-width:600px) {
                font-size: map-get($fnsz, md);
                line-height: 2.5rem;
            }
            @media only screen and (min-width:992px) {
                font-size: map-get($fnsz, xl);
                line-height: 3.5rem;
            }
        }
    }
    .talleres {
        @extend.propositos
    }
}